# backend/.gitignore

env/
.env.*

# Archivos compilados y cache de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Logs
*.log

# IDE
.vscode/
.idea/

pytest.ini

# consultas pruebas
app/consultas/consulta3.py
app/consultas/consulta1.py
app/consultas/consulta2.py
app/consultas/consulta5.py
app/consultas/consulta4.py
app/consultas/consultaUniprot.py